.asked{
  padding-bottom: 150px;
}
.asked__title{
  font-weight: 700;
  font-size: 34px;
  line-height: 51px;
  color: #22343D;
}
.accordion{
  width: 922px;
  margin: 0 auto;
}


@media only screen and(max-width:568px){
  .accordion{
    width: 420px;
  }
}