.custom{
  // padding-bottom: 150px;
  background: linear-gradient(180deg, #F7F7F7 0%, rgba(247, 247, 247, 0) 100%);
}
.custom__text{
  margin-bottom: 32px;
}
.custom__info{
  padding: 50px 0;
  margin-bottom: 0;
}